*{
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
.formulario{
  z-index: 0;
  background-color: yellow;
  display: block;
  width: 40%;
  height: 40%;
  border-radius: 4px;
  position: absolute;
  left: 30%;
  top: 25%;
  }

.inpt{
  display: block;
  float:right;
  position: absolute;
  left:30%;
  bottom: 15%;
}
.descr{
  background-color: white;
  border-color: black;
  z-index: 1;
  display: block;
  width: 40px;
  position: relative;
  left: 10%;
  }


label{
  display: flex;
  justify-content: flex-end;
}

.caja{
  z-index: 3;
}
